.me {
  background-color: #fbf1f1;
  padding: 20px;
  max-width: 800px;
  padding: 20px;
  margin-top: 20px;
  margin: 0 auto;
  border-radius: 10px;
}
h2 {
  font-size: 22px;
}
.para {
  margin-top: 24px;
}
